.button {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  box-sizing: border-box;
  padding: 15px 30px;
  transition: all 0.3s ease;
  white-space: nowrap;
  font-weight: 600;
  background-color: #40e0d0;
  color: #ffffff;

  &:focus,
  &:active {
    outline: none;
    border: none;
  }

  &:hover {
    opacity: 0.8;
    border: none;
  }

  &:disabled {
    background-color: #e9e9e9;
    color: #ffffff;
    cursor: not-allowed;
    pointer-events: none;
  }
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 13px;
    height: 45px;
  }
}
