.socialButtonContainer {
  display: flex;
  align-items: center;
  padding: 18px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 60px;
  box-sizing: border-box;

  &:hover {
    opacity: 0.8;
  }

  img {
    margin-right: 16px;
  }
}

.socialButtonText {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  color: inherit;
}

@media screen and (max-width: 768px) {
  .socialButtonText {
    font-size: 15px;
  }
}
